#popup {
    width: 480px;
    height: 760px;
    background:rgba(255, 255, 255, 0.7);
    z-index: 1;
    display: none;
    position: absolute;
    top: 10%;
    right: 2%;
    border-radius: 1%;
}

.wrapper {
    padding: 2% 3% 0 3%;
}